<header>
  <div class="flex-container">
    <div class="flex-item">
      <%= image_tag("DistrictSports_Logo.svg", alt: "District Sports Logo") %>
    </div> <!-- end flex-item -->

    <div class="flex-item">
      <%= form_tag(programs_path, method: 'get') do %>
        <h5>
          <strong>
            Game Date Range:
          </strong>
        </h5>
        <table class="table">
          <thead>
            <tr>
              <th>Start:
                <%= text_field_tag("dates[start_date]", params[:dates].try("[:start_date]"), { id: "start_date" }) %>
              </th>

              <th>End:
                <%= text_field_tag("dates[end_date]", params[:dates].try("[:end_date]"), { id: "end_date" }) %>
              </th>
            </tr>
          </thead>
        </table>
        <div class = "stacked-for-medium button-group">
          <%= submit_tag "Show", class: 'button' %>
          <%= link_to "Export to Calendar", calendars_path, method: 'post', class: 'button' %>
        </div>
      <% end %>
    </div>
  </div> <!-- end flex-container -->
<hr>

</header>

<div class="row">
</div>

<div class="row">
  <div class="large-12 columns" id="games_index">
    <%= render partial: "games/index", locals: { games: games } %>
  </div>
</div>
