<header>

  <div class="flex-container">
      <div class="flex-item">
        <%= image_tag("DistrictSports_Logo.svg", alt: "District Sports Logo") %>
      </div> <!-- end flex-item -->

      <div class="flex-item">
        <%= link_to "Export to Calendar", auth_google_oauth2_redirect_path(nil, params), class: 'button' %>
      </div> <!-- end flex-item -->
  </div> <!-- end flex-container -->

<hr>

</header>


<%= form_tag(programs_path, method: "get") do %>
  <%= render partial: "filters", locals: { locations: locations, programs: programs } %>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <%= render partial: "games/index", locals: { games: games } %>
  </div>
</div>
