<% require 'date' %>


<div id="games">
  <ul id="controls" class="button-group round" data-refresh-container="#games" data-url="<%= programs_path %>">
    <li>
      <button id="previous"><span class="fa fa-arrow-left fa-5"></span>    Previous</button>
    </li>
    <li>
      <button disabled="true">
      <span id="bow"><%= bow.strftime("%b %d, %Y")%></span>
      <span> - </span>
      <span id="eow"><%= eow.strftime("%b %d, %Y") %></span>
      </button>
    </li>
    <li>
      <button id="next">Next    <span class="fa fa-arrow-right fa-5"></span></button>
    </li>
  </ul>

  <div id="loading">Loading ...</div>

  <% if week_view %>
    <%= render partial: "games/week_view", locals: { games: games } %>
  <% else %>
    <%= render partial: "games/date_range_view", locals: { games: games } %>
  <% end %>
</div>
