<% require 'date' %>

<ul class="list-unstyled">
  <% games.values.each do |day| %>
    <h4>
      <%= day.first["start"]["dateTime"].to_datetime.strftime("%a, %B %e") %>
    </h4>
    <% day.each do |game| %>
      <div class="row">
        <div class="large-3 columns">
          <li style="color: <%= Game::COLORS[game["colorId"]] %>;">
            <%= game["location"] %>
          </li>
        </div>
        <div class="large-2 columns">
          <li>
          <%= game["start"]["dateTime"].to_datetime.strftime("%l:%M%P") %>-<%= game["end"]["dateTime"].to_datetime.strftime("%l:%M%P") %>
          </li>
        </div>
        <div class="large-7 columns">
          <li>
            <%= game["description"] %>
          </li>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
