<% require 'date' %>


<div id="games">
  <ul id="controls" class="button-group round" data-refresh-container="#games" data-url="<%= programs_path %>">
    <li>
      <button id="previous"><span class="fa fa-arrow-left fa-5"></span>    Previous</button>
    </li>
    <li>
      <button disabled="true">
      <span id="bow"><%= bow.strftime("%b %d, %Y")%></span>
      <span> - </span>
      <span id="eow"><%= eow.strftime("%b %d, %Y") %></span>
      </button>
    </li>
    <li>
      <button id="next">Next    <span class="fa fa-arrow-right fa-5"></span></button>
    </li>
  </ul>

  <div id="loading">Loading ...</div>

  <div>
    <% Date::ABBR_DAYNAMES.each do |day| %>
      <h2>
        <%= day %>
      </h2>
      <ul class="list-unstyled">
        <% return unless games %>
        <% if games[day].present? %>
          <% games[day].sort_by { |game| [game["locationName"], game["startTime"]] }.each do |game| %>
            <div class="row">
              <div class="large-3 columns">
                <li>
                  <%= game["locationName"] %>
                </li>
              </div>
              <div class="large-3 columns">
                <li>
                  <%= game["startTime"].strftime("%I:%M %P") %> - <%= game["endTime"].strftime("%I:%M %P") %>
                </li>
              </div>
              <div class="large-6 columns">
                <li>
                  <%= game["team1"]%> v. <%= game["team2"] %>
                </li>
              </div>
            </div>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
