<div>
  <% Date::ABBR_DAYNAMES.each do |day| %>
    <h2>
      <%= day %>
    </h2>
    <ul class="list-unstyled">
      <% return unless games %>
      <% if games[day].present? %>
        <% games[day].sort_by { |game| [game["location"], game["start"]["dateTime"]] }.each do |game| %>
          <div class="row">
            <div class="large-2 columns">
              <li>
                <%= game["location"] %>
              </li>
            </div>
            <div class="large-3 columns">
              <li>
                <%= game["start"]["dateTime"].strftime("%I:%M %P") %> - <%= game["end"]["dateTime"].strftime("%I:%M %P") %>
              </li>
            </div>
            <div class="large-7 columns">
              <li>
                <%= game["description"] %>
              </li>
            </div>
          </div>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
